name: FuelLib-CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{github.ref}}-${{github.head_ref}}-ci
  cancel-in-progress: true

jobs:
  Formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
  
  Codespell:
    needs: Formatting
    runs-on: ubuntu-latest
    steps:
      - name: Clone
        uses: actions/checkout@v4
        with:
          submodules: false
      - name: Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Dependencies
        run: |
          # Install Python packages
          python -m pip install --upgrade pip
          pip install codespell
      - name: Run codespell
        run: codespell --skip="*.bib,*.csv,*.pdf"
  
  Accuracy-Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: |
          python -m pip install --upgrade pip
          pip install numpy pandas scipy
      - run: python tests/test_accuracy.py
  
  Export4Pele-Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: |
          python -m pip install --upgrade pip
          pip install pandas scipy
      - name: Test individual component export
        run: python source/Export4Pele.py --fuel_name posf10264
      - name: Test mixture export with GCM model
        run: python source/Export4Pele.py --fuel_name posf10264 --export_mix True
      - name: Test mixture export with MP model
        run: python source/Export4Pele.py --fuel_name posf10264 --export_mix True --liq_prop_model mp
      - name: Test with CGS units
        run: python source/Export4Pele.py --fuel_name posf10264 --export_mix True --units cgs
      - name: Test with single deposit species
        run: python source/Export4Pele.py --fuel_name posf10264 --dep_fuel_names POSF10264
  
  Export4Converge-Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: |
          python -m pip install --upgrade pip
          pip install numpy pandas scipy
      - name: Test individual component export
        run: python source/Export4Converge.py --fuel_name posf10264
      - name: Test mixture export
        run: python source/Export4Converge.py --fuel_name posf10264 --export_mix 1 --temp_min 280 --temp_max 400 --temp_step 10
